:root{
    --primary-color:#00A0E3;/* light-blue */
    --bs-secondary: #007CC1;/* dark-blue */
    --bs-red: #C80000;
    --bs-black:#333334;
    --bs-white: #fff;
    --bs-gray: #CCD5DB;/* mid-grey-l */
    --bs-gray-dark: #7E8489;/* dark-grey */
    --bs-gray-100: #F3F3F3;/* grey-light-1 */
    --bs-gray-200: #D2D2D2;/* tmp2 */
    --bs-gray-300: #dee2e6;/* grey-white */
    --bs-link-color:var(--bs-black);
}




/* Body Start */
body{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
background-color: var(--bs-gray-100);
color: var(--bs-black);

}
a{
    text-decoration: none;
    
}
a:hover{
    color: var(--primary-color);
}
/* Body End */

/* Header Start */
.header{
    z-index: 2;
}
.header-row-1 a{
    padding-top: 11px;
    padding-bottom:11px;
}

.header-row-2{
    background-color: var(--bs-white);
}
.logo-svg{
    
}
.header-row-2 .form-group{
    position: relative;
    padding: 0;
    
}
.header-row-2 .form-control{
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    background-color: var(--bs-white);
   
}
.search-svg{
    position: absolute;
    width:36px;
    height:42px;
    padding: 6px 9px;
    right: 12px;
    bottom: -1px;
    cursor: pointer;
}

/* Header End */